<a href=<%= "/view-shop/" + user_ID + "/" + shop_ID %>>Back to Shop</a>
<div class="itemContainer">
    <h1><%= misc_item.Misc_Item_Name %></h1>
    <h2>Type: <%= misc_item.Misc_Item_Type %></h2>
    <p>Total Cost: <%= misc_item.Misc_Item_Cost %></p>
    <p>Weight: <%= misc_item.Misc_Item_Weight %></p>
    <h3>Description:</h3>
    <p><%- misc_item.Misc_Item_Description %></p>
</div>