<a href=<%= "/view-shop/" + user_ID + "/" + shop_ID %>>Back to Shop</a>
<div class="itemContainer">
    <h1><%= item.Magic_Item_Name %></h1>
    <h2>Type: <%= item.Magic_Item_Type %></h2>
    <p>Total Cost: <%= item.Magic_Item_Cost %></p>
    <p>Caster Level: <%= item.Magic_Item_Caster_Level %></p>
    <p>Aura: <%= item.Magic_Item_Aura %></p>
    <h3>Description:</h3>
    <p><%- item.Magic_Item_Description %></p>
</div>