<a href=<%= "/view/" + user_ID + "/" + shop_ID %>>Back to Shop</a>
<div class="itemContainer">
    <% if (type == "weapon") { %>
        <h1><%= item.Weapon_Name %></h1>
        <h2><%= item.Weapon_Category %>, <%= item.Weapon_Type %></h2>
        <p>Total Cost: <%= item.Weapon_Cost_With_Properties %> gp</p>
        <p>Base Cost: <%= item.Weapon_Cost %> gp</p>
        <p>Weight: <%= item.Weapon_Weight %> lb</p>
        <h3>Damage:</h3>
        <table>
            <thead>
                <tr>
                    <th>Small</th>
                    <th>Medium</th>
                    <th>Critical</th>
                    <% if (item.Weapon_Range_Increment != null) { %>
                        <th>Range Increment</th>
                    <% } %>
                    <th>Damage Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= item.Weapon_Small_Damage %></td>
                    <td><%= item.Weapon_Medium_Damage %></td>
                    <td><%= item.Weapon_Critical %></td>
                    <% if (item.Weapon_Range_Increment != null) { %>
                        <td><%= item.Weapon_Range_Increment %></td>
                    <% } %>
                    <td><%= item.Weapon_Damage_Type %></td>
                </tr>
            </tbody>
        </table>
        <h3>Description:</h3>
        <p><%= item.Weapon_Description %></p>
        <% if (item.Weapon_Properties.length > 0) { %>
            <h2>Properties:</h2>
            <% item.Weapon_Properties.forEach(prop => { %>
                <div class="weapon-property-container">
                    <h3><%= prop.Property_Name %></h3>
                    <% if (prop.Property_Gold_Cost != null) { %>
                        <p>Cost: <%=prop.Property_Gold_Cost %> gp</p>
                        <p><%= prop.Property_Description %></p>
                    <% } %>
                </div>
            <% }) %>
        <% } %>
    <% } else if (type == "armor") { %>
        <h1><%= item.Armor_Name %></h1>
        <h2><%= item.Armor_Category %></h2>
        <p>Total Cost: <%= item.Armor_Cost_With_Properties %></p>
        <p>Base Cost: <%= item.Armor_Cost %></p>
        <p>Weight: <%= item.Armor_Weight %> lb</p>
        <h3>Stats:</h3>
        <table>
            <thead>
                <tr>
                    <th>AC Bonus</th>
                    <% if (item.Armor_Max_Dex != null) { %>
                        <th>Max Dex</th>
                    <% } %>
                    <th>Armor Check Penalty</th>
                    <th>Spell Failure</th>
                    <% if (item.Armor_30_Speed != null) { %>
                        <th>Speed (30)</th>
                    <% } %>
                    <% if (item.Armor_20_Speed != null) { %>
                        <th>Speed (20)</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= item.Armor_AC_Bonus %></td>
                    <% if (item.Armor_Max_Dex != null) { %>
                        <td><%= item.Armor_Max_Dex %></td>
                    <% } %>
                    <td><%= item.Armor_Check_Penalty %></td>
                    <td><%= item.Armor_Spell_Failure %></td>
                    <% if (item.Armor_30_Speed != null) { %>
                        <td><%= item.Armor_30_Speed %></td>
                    <% } %>
                    <% if (item.Armor_20_Speed != null) { %>
                        <td><%= item.Armor_20_Speed %></td>
                    <% } %>
                </tr>
            </tbody>
        </table>
        <h3>Description:</h3>
        <p><%= item.Armor_Description %></p>
        <% if (item.Armor_Properties.length > 0) { %>
            <h2>Properties:</h2>
            <% item.Armor_Properties.forEach(prop => { %>
                <div class="armor-property-container">
                    <h3><%= prop.Property_Name %></h3>
                    <% if (prop.Property_Gold_Cost != null) { %>
                        <p>Cost: <%= prop.Property_Gold_Cost %></p>
                        <p><%= prop.Property_Description %></p>
                    <% } %>
                </div>
            <% }) %>
        <% } %>
    <% } %>
</div>